/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}

*{
    box-sizing: border-box;
  }

.clear {
   clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
    height: 50px;
    background: white;
    margin: -1% -1% 0 -1%; 
}

header li{
    float: left;
    list-style: none;
    text-decoration: none;
    margin-top: 1%;
    margin-left: 6%;
    width: 5%;
}

header a{
    color: rgb(91, 84, 91);
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

button{
    float: right;
    margin-top: 0.7%;
    margin-right: 13%;
    height: 30px;
    width: 8%;
    border: none;
    background-color: rgb(51, 57, 66);
    color: white;
    font-size: 15px;
}

main{
    float: left;
    height: 400px;
    width: 101%;
    background: rgb(241, 243, 245);
    margin: 0 -1% 0 -0.5%;
}

main h1{
    margin-left: 6%;
    margin-top: 12%;
    color:rgb(51, 57, 66);
    font-size: 25px;
    font-weight: 400;

}

main p{
    margin-left: 6%;
    color:rgb(51, 57, 66);
    font-size: 15px;
    font-weight: 400;
}

main span{
    float: left;
    margin-left: 6%;
    color:rgb(51, 57, 66);
    font-size: 12px;
    font-weight: 400;
    margin-top: 1%;
}

.email{
    float: left;
    margin-top: 3%;
    margin-left: -27%;
    border-radius: 5px;
    height: 10%;
    width: 20%;
    border-color: rgb(137, 150, 158);
    color: rgb(137, 150, 158);
    font-size: 15px;
}

.submit{
    float: left;
    margin-top: 3%;
    margin-left: -5%;
    border-radius: 5px;
    height: 10%;
    width: 10%;
    border-color: rgb(137, 150, 158);
    background-color: rgb(184, 197, 207);
    color: white;
    font-size: 15px;
}

.logo{
    float: left;
    clear: both;
    margin-top: 3%;
    margin-left: 13%;
}


.woman{
    float: right;
    clear: both;
    margin-top: -22%;
    margin-right: 12%;
}

#intro{
    height: 350px;
    padding-top: 3%;
    background: white;
    clear: both;
}

#intro h2{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: rgb(51, 57, 66);
    margin-left: 6%;
}

#intro p{
    border-top: 3px solid lightpink;
    height: 50px;
    width: 400px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(51, 57, 66);
    margin-left: 8%;
    float: left;
}

#intro span{
    border-top: 3px solid lightpink;
    height: 50px;
    width: 400px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(51, 57, 66);
    margin-top: 1%;
    margin-right: 9%;
    float: right;
}

#intro div{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: rgb(201, 207, 211);
    padding-top: 2%;
    clear: both;
    
}

.history{
    float: left;
    height: 400px;
    width: 101%;
    background: rgb(241, 243, 245);
    margin: 0 -1% 0 -0.5%;
}

.history h3{
    font-size: 20px;
    color: rgb(51, 57, 66);
    float: left;
    margin-top: 2%;
    margin-left: 6%
}

.history p{
    font-size: 13px;
    color: rgb(51, 57, 66);
    float: left;
    clear: both;
    margin-left: 6%;
    margin-top: -1%;
    height: 300px;
    width: 700px;
}

.family{
    float: right;
    margin-right: 20%;
    margin-top: -3%;
}

.ladies{
    float: right;
    clear: both;
    margin-right: 20%;
    margin-top: -12%;
}

.title h3{
    text-align: center;
    font-size: 25px;
    color: rgb(51, 57, 66);
    padding-top: 2%;
    clear: both;    
}

#Atsuko{
    border: 1px solid rgb(201, 207, 211);
    height: 350px;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
} 

#Atsuko img{
    margin-left: 3%;
    margin-top: 3%;
    float: left;
}

#Atsuko p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 57, 66);
    border: 1px solid white;
    height: 300px;
    width: 30%;
    margin-right: 45%;
    margin-top: 4%;
    float: right;
}

.fish{
    float: left;
    border: 1px solid white;
    height: 250px;
    width: 400px;
    margin-top: 1%;
    margin-left: 10%;
}

.fish h4{
    font-size: 20px;
    color:rgb(201, 207, 211);
    font-weight: 400;
}

.fish p{
    font-size: 14px;
    color: rgb(51, 57, 66);
}

.simmons{
    float: right;
    border: 1px solid white;
    height: 250px;
    width: 400px;
    margin-right: 30%;
}

.simmons p{
    font-size: 14px;
    color: rgb(51, 57, 66);
}

.newsletter{
    background: rgb(184, 197, 208);
    height: 55px;
    width: 100%;
    float: left;
}

.newsletter h4{
    font-size: 17px;
    font-weight: 100;
    color: white;
    margin-left: 6%;
    margin-top: 1%;
}

.newsletter .emailtwo{
    float: right;
    margin-top: -3.5%;
    margin-right: 35%;
    border-radius: 5px;
    height: 70%;
    width: 30%;
    border: none;
    color: rgb(137, 150, 158);
    font-size: 15px;
}

.submittwo{
    float: right;
    margin-top: -3.5%;
    border-radius: 5px;
    margin-right: 23%;
    height: 70%;
    width: 10%;
    border: none;
    background-color: rgb(143, 156, 163);
    color: white;
    font-size: 15px;
}

footer{
    background: rgb(143, 156, 163);
    height: 225px;
    width: 100%;
    float: left;
}

footer p{
    margin-left: 6%;
    margin-top: 2%;
    font-size: 12px;
    font-weight: 700;
    color: white;
    float: left;
}

footer span{
    margin-right: 12%;
    margin-top: 2%;
    font-size: 12px;
    font-weight: 700;
    color: white;
    float: right;
}

/* line */

#home{
    float: left;
    clear: both;
    list-style: none;
    text-decoration: none;
    margin-top: 0.5%;
    margin-left: 3%;
}

#home a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
}

#program{
    margin-top: 6%;
    margin-left: 15%;
    list-style: none;
    text-decoration: none;
}

#program a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
}

#JWLIA{
    margin-top: -8.5%;
    margin-left: 30%;
    list-style: none;
    text-decoration: none;
}

#JWLIA a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
}

#fellows{
    float: right;
    clear: both;
    list-style: none;
    margin-top: -7.5%;
    margin-right: 45%;
    width: 10%;
}

#fellows a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

#news{
    float: right;
    clear: both;
    list-style: none;
    margin-top: -7.5%;
    margin-right: 32.5%;
    width: 10%;
}

#news a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

#contact{
    float: right;
    clear: both;
    list-style: none;
    margin-top: -7.5%;
    margin-right: 20%;
    width: 10%;
}

#contact a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

#name{
    float: right;
    clear: both;
    list-style: none;
    margin-top: -7.5%;
    margin-right: 7.5%;
    width: 10%;
}

#name a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}


/******************************************
/* ADDITIONAL LAYOUT
/*******************************************/

@media screen and (max-width: 600px) {

main .woman, .hide, footer, .history, .fish, .simmons, #Atsuko, .newsletter, .title{
    display: none;
}

main{
    width: 100%;
}

main h1{
    display: inline-block;
    margin-top: -5%;
}


.email{
    width: 20%;
    display: block;
    margin-top: 10%;
    margin-left: 20%;
}
  
.submit{
    width: 20%;
    display: block;
    margin-top: 10%;
    margin-left: 10%;
}

#intro{
    margin-bottom: 20%;
    width: 100%;
    display: inline-block;
}
}
       
@media (min-width: 601px) and (max-width: 1024px) {
   
footer, .hide, main img, #Atsuko, .fish, .simmons, .family, .ladies, .title{
    display: none;
}

main, #intro, .history, .newsletter{
    width: 100%;
    display: inline-block;
}

.email{
    width: 40%;
    display: block;
    margin-top: 10%;
    margin-left: -5;
}
  
.submit{
    width: 20%;
    display: block;
    margin-top: 10%;
    margin-left: 5%;
}


.emailtwo{
    width: 10%;
    display: block;
    margin-top: 10%;
    /* margin-left: -5; */
}
  
.submittwo{
    width: 10%;
    display: block;
    margin-top: -6%;
    margin-left: 5%;
}

.history{
    width: 100%;
    display: inline-block;
}
}


/* @media (min-width: 1050px) and (max-width: 2560px) {
header{
    background: rgb(143, 156, 163);
} */
